@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600;700;800&family=Inter:wght@400;500;600;700&family=Rubik:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
$maxWidthContainer: 1200px;
$md1: $maxWidthContainer + 12;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
$font-color: #262541;

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html,
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  scroll-behavior: smooth;
  position: relative;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

._container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding-left: 20px;
}

._third-block-iphone-adaptive {
  @media(max-width: 700px) {
    max-width: 280px;

  }

  @media(max-width: 650px) {
    max-width: 250px;
  }

  @media(max-width: 600px) {
    max-width: 230px;
  }

  @media(max-width: 550px) {
    max-width: 210px;
  }

  @media(max-width: 520px) {
    max-width: 200px;
  }
}



._header-title-adaptive {
  @media(max-width: $md1) {
    font-size: 64px;
  }

  @media(max-width: 1100px) {
    font-size: 60px;
  }

  @media(max-width: 1050px) {
    font-size: 56px;
    margin-top: -10px;
  }

  @media(max-width: $md2) {
    font-size: 48px;
  }

  @media(max-width: 870px) {
    font-size: 42px;
  }

  @media(max-width: 830px) {
    font-size: 40px;
    margin-top: -20px;
  }

  @media(max-width: $md3) {
    font-size: 68px;
    background: url("../assets/images/header-background-tablet.svg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px 20px;
    border-radius: 12px;
  }

  @media(max-width: 630px) {
    font-size: 60px;
  }

  @media(max-width: 595px) {
    font-size: 54px;
  }

  @media(max-width: 560px) {
    font-size: 50px;
  }

  @media(max-width: 535px) {
    font-size: 46px;
    padding: 10px 15px;
  }

  @media(max-width: 505px) {
    font-size: 40px;
  }

  @media(max-width: 395px) {
    font-size: 36px;
  }

  @media(max-width: 370px) {
    font-size: 32px;
  }

  @media(max-width: 350px) {
    font-size: 28px;
  }
}