@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600;700;800&family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
$maxWidthContainer: 1200px;
$md1: $maxWidthContainer + 12;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
$font-color: #262541;

.Vue-Toastification__toast {
  background: #262541;
  width: 320px;
  padding: 16px;
}

.Vue-Toastification__toast--success {
  background: #F4FDE8;
  border: 1px solid #71BA12;
  color: #262541;
}
.Vue-Toastification__toast--error {
  background: #FFEEEE;
  border: 1px solid #F43E3E;
  color: #262541;
}
.Vue-Toastification__toast--warning {
  background: #FFF4EC;
  border: 1px solid #F6803C;
  color: #262541;
}
.Vue-Toastification__toast--info {
  background: #F7F7FE;
  border: 1px solid #BFBEDA;
  color: #262541;
}


.Vue-Toastification__close-button {
  color: #575775;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html,
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  scroll-behavior: smooth;
  font-family: 'Inter';
  font-style: normal;
  height: 100%;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

._container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
}


input {
  outline: none;
}

/* custom scrollbar */

::-webkit-scrollbar-track {
  background-color: transparent;
}


::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}


::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
	background-color: #d6dee1;
}